---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";



$link-color: rgb(240, 180, 16);

pre {
    white-space: pre-wrap;
    font-size: 13px;
}

$base00: #3f3d49;
$base01: #404040;
$base02: #606060;
$base03: #6f6f6f;
$base04: #808080;
$base05: #dcdccc;
$base06: #c0c0c0;
$base07: #ffffff;
$base08: #dca3a3;
$base09: #dfaf8f;
$base0a: #e0cf9f;
$base0b: #5f7f5f;
$base0c: #93e0e3;
$base0d: #7cb8bb;
$base0e: #dc8cc3;
$base0f: #000000;



@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials